<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="4" sizeXs="12" sizeSm="6" size-md="4">
        <img alt="mi-foto" src="../../../../assets/images/mi-foto.jfif" />
      </ion-col>
      <ion-col>
        <ion-card-header>
          <ion-card-title id="card-title">Informacion Personal</ion-card-title>
          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        </ion-card-header>
        <br>
        <ion-card-content id="content">
          <h4>Nombre: </h4>
          <p>Victor Julio Diaz Arias</p>
          <br>
          <h4>Matricula: </h4>
          <p>2021-0834</p>
          <br>
          <h4>Correo: </h4>
          <p>victordiaz123julioarias@gmail.com</p>
          <br>
          <h4>Repositorio: </h4>
          <a href="https://github.com/Victor-Diaz15" target="_blank">visitar click aqui!</a>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
