<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6" sizeXs="12" sizeMd="6" sizeLg="6" >
      <ion-item>
        <ion-label position="stacked">Introduce el numero</ion-label>
        <ion-input [(ngModel)]="num" type="number" placeholder="0"></ion-input>
      </ion-item>
      <ion-button (click)="traducir()" expand="block">Traducir</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6" sizeXs="12" sizeMd="6" sizeLg="6" >
      <h4 class="text-center">Traduccion</h4>
      <p *ngIf="mensaje !== undefined" class="text-center">{{mensaje}}</p>
    </ion-col>
  </ion-row>
</ion-grid>
